body {
  padding-top: 54px;
}


.main-header {
  height: 100vh;
  background: url("../../img/cover.png") center center no-repeat scroll;
}

.main-div {
  height: 10px;

}

.card 
{
  height: 100%;
  margin-left: 170px;
}
